footer.footer
	.footer__container
		.footer__develop.for-desktop Над проектом работали: директор спецроектов: Полина Абдуллина, менеджер: Татьяна Гресс, дизайнер: Дарья Полевщикова, арт-директор: Полина Молчанова, фотограф: Алексей Калабин, автор: Сергей Кумыш
		.footer__develop.for-mobile Над проектом работали: директор спецпроектов Полина Абдуллина, менеджер Татьяна Гресс, арт-директор Полина Молчанова, дизайнер Дарья Полевщикова, фотограф: Алексей Калабин, автор: Сергей Кумыш
		.footer__copyright &copy;&nbsp;1995&ndash;2019 РосБизнесКонсалтинг