.header
	.header__container
		a.logo-rbc(href="https://style.rbc.ru/" target="_blank")
		button.header__burger.js-burger.for-mobile(type="button")
			+svg('burger').js-burger__icon
		.header__project
			.header__project-text.for-desktop совместный проект
			a.header__project-logo(href="https://store.canon.ru/?utm_source=RBC&utm_medium=special_project&utm_content=Logo&utm_campaign=RU_CIGmktg_CAMERA_EOS_R_SP_Dec2018-Jan2019" target="_blank")
				+svg('canon')