.hero-share
	button.hero-share__button(type="button" data-social="vk")
		+svg('vk')
	button.hero-share__button(type="button" data-social="facebook")
		+svg('facebook')
	button.hero-share__button(type="button" data-social="twitter")
		+svg('twitter')
