.mobile-nav.for-mobile
	button.mobile-nav__close.for-mobile(type="button")
		+svg('close')
	a.mobile-nav__item.mobile-nav__item--to-main(href="/" data-router-link) На главную
	a.mobile-nav__item(href="/article/1" data-item="1" data-router-link) Джованни
	a.mobile-nav__item(href="/article/2" data-item="2" data-router-link) Даниэла
	a.mobile-nav__item(href="/article/3" data-item="3" data-router-link) Массимилиано
	a.mobile-nav__item(href="/article/4" data-item="4" data-router-link) Симоне
	a.mobile-nav__item(href="/article/5" data-item="5" data-router-link) Эммануэль