.nav.for-desktop
	a.nav__item.nav__item--to-main(href="")
		.nav__text На главную
	a.nav__item.nav__item--scroll.nav-page(href="#hero1" data-item="1")
		.nav__text Джованни
		.nav__progress
	a.nav__item.nav__item--scroll.nav-page(href="#hero2" data-item="2")
		.nav__text Даниэла
		.nav__progress
	a.nav__item.nav__item--scroll.nav-page(href="#hero3" data-item="3")
		.nav__text Массимилиано
		.nav__progress
	a.nav__item.nav__item--scroll.nav-page(href="#hero4" data-item="4")
		.nav__text Симоне
		.nav__progress
	a.nav__item.nav__item--scroll.nav-page(href="#hero5" data-item="5")
		.nav__text Эммануэль
		.nav__progress
	.progress-bar