.share.for-desktop
	.share__info
		.share__icon-info
			button.share-button(type="button")
				span.share-button__icon
					+svg('i')
		.share__text Над проектом работали: директор спецпроектов Полина Абдуллина, менеджер Татьяна Гресс, арт-директор Полина Молчанова, дизайнер Дарья Полевщикова, фотограф Алексей Калабин, автор Сергей Кумыш #[br]&copy;&nbsp;1995&ndash;2019 РосБизнесКонсалтинг
	.share__social
		button.share__item-social(type="button" data-social="facebook") facebook
		button.share__item-social(type="button" data-social="vk") vkontakte
		button.share__item-social(type="button" data-social="twitter") twitter