.social.for-desktop
	button.social__item(type="button" data-social="facebook") facebook
	button.social__item(type="button" data-social="vk") vkontakte
	button.social__item(type="button" data-social="twitter") twitter