include mixins/svg
include mixins/hero-item
include mixins/block-hero
include mixins/block-hero-info
include mixins/block-hero-info-text
include mixins/block-hero-info-text-mobile
include mixins/block-hero-quote
include mixins/block-hero-quote-mobile
include mixins/block-hero-img
include mixins/other-heroes-item
include mixins/hero-item-mobile
include mixins/other-heroes
include mixins/other-heroes-slide