mixin otherHeroes()
	.other-heroes.for-mobile
		.other-heroes__title Читайте также
		.other-heroes__carousel.swiper-container
			.swiper-wrapper
				block

			.slider-button.slider-button--prev
			.slider-button.slider-button--next
