.page__block.banner.for-mobile
	.page__container
		.banner__content
			.banner__title
				.banner__lines-title
					+svg('lines')
				.banner__img-title
			.banner__info
				.banner__title-info
					.banner__text-title Canon
					.banner__icon-title
						+svg('eos')
				.banner__text-info Инновационная полнокадровая беззеркальная камера, которая устанавливает новые стандарты.
				a.banner__link-info(href="https://store.canon.ru/bezzerkal-naja-kamera-eos-r-s-adapterom-kreplenija-ef-eos-r.html?utm_source=RBC&utm_medium=special_project&utm_content=EOS_R&utm_campaign=RU_CIGmktg_CAMERA_EOS_R_SP_Dec2018-Jan2019" target="_blank") узнать больше