+block-hero({
	id: '5',
	bg: '/images/content/hero5/bg.jpg',
	name: 'Эммануэль',
	work: 'сады Боболи',
	rightOverlay: true
})
	+block-hero-info({
		photo: '/images/content/hero5/photo.png',
		text: 'разнорабочий в&nbsp;садах Боболи',
		name: 'снимок сделан на&nbsp;canon eos&nbsp;r',
		title: 'RF&nbsp;35mm f/1.8&nbsp;IS Macro STM',
		diaphragm: 'f/2.0',
		excerpt: '1/1250 сек',
		iso: '200'
	})
		+block-hero-info-text
			p К&nbsp;красоте невозможно привыкнуть. И&nbsp;вместе с&nbsp;тем приходится как-то приспосабливаться. Каждое утро, например, я&nbsp;мою окна в&nbsp;музее фарфора, расположенном в&nbsp;Касино дель Кавальере. Это одна из&nbsp;самых высоких точек во&nbsp;всем парке. Отсюда открывается вид на&nbsp;палаццо Питти, сразу за&nbsp;ним&nbsp;&mdash; весь город как на&nbsp;ладони. Если&nbsp;бы я&nbsp;не&nbsp;научился со&nbsp;всем этим сосуществовать, не&nbsp;смог&nbsp;бы работать.
			p Иногда мне кажется, что это место&nbsp;&mdash; я&nbsp;имею в&nbsp;виду не&nbsp;Флоренцию, а&nbsp;именно сады Боболи&nbsp;&mdash; возникло одномоментно. Как будто его спустили сюда по&nbsp;воздуху инопланетяне. Его красота рукотворна, и&nbsp;вместе с&nbsp;тем она какая-то невообразимая, нечеловеческая. Невыносимая красота. А&nbsp;еще этот утренний девственный свет... Стоит на&nbsp;секунду засмотреться, поддаться, открыться всему этому, и&nbsp;все&nbsp;&mdash; ты, считай, пропал: немеешь, костенеешь, сам превращаешься в&nbsp;одну из&nbsp;статуй.
			p.for-desktop Чувствую&nbsp;ли я&nbsp;себя флорентийцем? Конечно. Ну&nbsp;а&nbsp;как иначе? Мы&nbsp;с&nbsp;женой приехали сюда из&nbsp;Нигерии больше десяти лет назад. Неважно, как это получилось, речь сейчас о&nbsp;другом. Когда живешь где-то достаточно долго&nbsp;&mdash; не&nbsp;влачишь существование, а&nbsp;именно живешь (сумма дохода и&nbsp;количество свободного времени здесь, кстати, ни&nbsp;при чем), постепенно начинаешь ловить, как&nbsp;бы сказать, ощущение места. И&nbsp;рано или поздно с&nbsp;тобой это просто случается&nbsp;&mdash; ты&nbsp;к&nbsp;нему прирастаешь. Даже больше. В&nbsp;каком-то смысле ты&nbsp;сам становишься этим местом. Понимаете, о&nbsp;чем&nbsp;я?

	+block-hero-quote('К&nbsp;красоте невозможно привыкнуть. И&nbsp;вместе с&nbsp;тем приходится как-то приспосабливаться')

	+block-hero-img('/images/content/hero5/img.jpg')

	+block-hero-quote-mobile('К&nbsp;красоте невозможно привыкнуть. И&nbsp;вместе с&nbsp;тем приходится как-то приспосабливаться')

	+block-hero-info-text-mobile
		p Чувствую&nbsp;ли я&nbsp;себя флорентийцем? Конечно. Ну&nbsp;а&nbsp;как иначе? Мы&nbsp;с&nbsp;женой приехали сюда из&nbsp;Нигерии больше десяти лет назад. Неважно, как это получилось, речь сейчас о&nbsp;другом. Когда живешь где-то достаточно долго&nbsp;&mdash; не&nbsp;влачишь существование, а&nbsp;именно живешь (сумма дохода и&nbsp;количество свободного времени здесь, кстати, ни&nbsp;при чем), постепенно начинаешь ловить, как&nbsp;бы сказать, ощущение места. И&nbsp;рано или поздно с&nbsp;тобой это просто случается&nbsp;&mdash; ты&nbsp;к&nbsp;нему прирастаешь. Даже больше. В&nbsp;каком-то смысле ты&nbsp;сам становишься этим местом. Понимаете, о&nbsp;чем&nbsp;я?

	include ../components/social-mobile
	include banner-mobile

	+otherHeroes()
		+otherHeroesSlide(1)
		+otherHeroesSlide(2)
		+otherHeroesSlide(3)
		+otherHeroesSlide(4)