+block-hero({
	id: '1',
	bg: '/images/content/hero1/bg@2x.jpg',
	name: 'Джованни',
	work: 'обувная мастерская <br> сеньора маннина'
})
	+block-hero-info({
		photo: '/images/content/hero1/photo.png',
		text: 'Джованни, обувщик',
		name: 'снимок сделан на&nbsp;canon eos&nbsp;r',
		title: 'RF&nbsp;35mm f/1.8&nbsp;IS Macro STM',
		diaphragm: 'f/1.8',
		excerpt: '1/500 сек',
		iso: '1600'
	})
		+block-hero-info-text
			p Нет-нет, Калоджеро Маннина не&nbsp;мой отец. Хотя отношения у&nbsp;нас, и&nbsp;правда, были достаточно близкие, в&nbsp;каком-то смысле почти родственные. Я&nbsp;приехал во&nbsp;Флоренцию из&nbsp;Салерно в&nbsp;23&nbsp;года. Мечтал делать обувь. Узнал про это ателье, позвонил, спросил, не&nbsp;нужен&nbsp;ли подмастерье. Синьор Маннина сказал, чтобы я&nbsp;пришел познакомиться лично, но&nbsp;что он&nbsp;ничего не&nbsp;обещает. С&nbsp;тех пор прошло десять лет. Теперь я&nbsp;сам руковожу производством.
			p Он&nbsp;был выдающимся мастером. Люди приезжали со&nbsp;всего мира, чтобы заказать у&nbsp;него пару обуви. Но&nbsp;он&nbsp;не&nbsp;стал расширяться, нанимать большой штат&nbsp;&mdash; всю жизнь провел в&nbsp;этих полутора комнатах, делал с&nbsp;помощниками пар по&nbsp;десять в&nbsp;месяц, его это вполне устраивало. И, кстати, каким&nbsp;бы ни&nbsp;был спрос, никогда искусственно не&nbsp;поднимал цены. Ему было важно, чтобы его обувь могли себе позволить люди практически любого достатка. Ну&nbsp;а&nbsp;мы&nbsp;продолжаем соответствовать его традициям и&nbsp;стандартам. Во&nbsp;всяком случае, стараемся как можем.
			p.for-desktop Сын синьора Маннины никогда не&nbsp;проявлял особого интереса к&nbsp;пошиву обуви. В&nbsp;смысле нет, он&nbsp;очень дорожит и&nbsp;гордится отцовским делом, просто сам занимается другими вещами. Поэтому после смерти мастера несколько лет назад его семья доверила ведение дел мне и&nbsp;Эрико Отани. Но&nbsp;это их&nbsp;боттега, не&nbsp;моя и&nbsp;не&nbsp;Эрико. Хотя я&nbsp;горжусь тем, что причастен к&nbsp;их&nbsp;истории. И&nbsp;счастлив, что занимаюсь любимым делом.

			.hero__bottom-text.for-desktop
				p Фикс-объектив #[b Canon RF&nbsp;50mm f/1.2L&nbsp;USM] позволяет работать с&nbsp;открытой диафрагмой, использовать короткую выдержку при слабом освещении, избегая размытия кадра и&nbsp;четко фиксировать объект. Подходит для создания атмосферных снимков, позволяя отделить объект съемки от&nbsp;перегруженного фона.
				a.hero__product-link(href="https://store.canon.ru/ob-ektiv-rf-50mm-f-1-2l-usm.html?utm_source=RBC&utm_medium=special_project&utm_content=RF_50mm_f12L_USM&utm_campaign=RU_CIGmktg_CAMERA_EOS_R_SP_Dec2018-Jan2019" target="_blank") узнать больше

	+block-hero-quote('я&nbsp;горжусь тем, что причастен к&nbsp;их&nbsp;истории. И&nbsp;счастлив, что занимаюсь любимым делом')

	+block-hero-img('/images/content/hero1/img@2x.jpg')

	+block-hero-quote-mobile('я&nbsp;горжусь тем, что причастен к&nbsp;их&nbsp;истории. И&nbsp;счастлив, что занимаюсь любимым делом')

	+block-hero-info-text-mobile
		p Сын синьора Маннины никогда не&nbsp;проявлял особого интереса к&nbsp;пошиву обуви. В&nbsp;смысле нет, он&nbsp;очень дорожит и&nbsp;гордится отцовским делом, просто сам занимается другими вещами. Поэтому после смерти мастера несколько лет назад его семья доверила ведение дел мне и&nbsp;Эрико Отани. Но&nbsp;это их&nbsp;боттега, не&nbsp;моя и&nbsp;не&nbsp;Эрико. Хотя я&nbsp;горжусь тем, что причастен к&nbsp;их&nbsp;истории. И&nbsp;счастлив, что занимаюсь любимым делом.

	include ../components/social-mobile
	include banner-mobile

	+otherHeroes()
		+otherHeroesSlide(2)
		+otherHeroesSlide(3)
		+otherHeroesSlide(4)
		+otherHeroesSlide(5)
