+block-hero({
	dark: true,
	id: '4',
	overlay: true,
	bg: '/images/content/hero4/bg.jpg',
	name: 'Симоне',
	work: 'семейная веломастерская'
})
	+block-hero-info({
		photo: '/images/content/hero4/photo.png',
		text: 'мастер по&nbsp;ремонту велосипедов и&nbsp;мотоциклов',
		name: 'снимок сделан на&nbsp;canon eos&nbsp;r',
		title: 'RF&nbsp;35mm f/1.8&nbsp;IS Macro STM',
		diaphragm: 'f/2.8',
		excerpt: '1/200 сек',
		iso: '1000'
	})
		+block-hero-info-text
			p Трудные времена наступили. Тяжелые. Хотя это каждый год повторяется: с&nbsp;начала января до&nbsp;середины февраля город пустеет, работы почти нет. Туристов мало. Никто не&nbsp;ездит на&nbsp;велосипедах. Никто их&nbsp;не&nbsp;ломает. У&nbsp;меня сейчас один велик в&nbsp;починке&nbsp;&mdash; ну&nbsp;что это такое? Трудные времена. Ладно, ждать, в&nbsp;общем-то, недолго осталось. Считай, перезимовали.
			p Отец открыл эту мастерскую в&nbsp;1967-м, на&nbsp;следующий год после наводнения, того самого, крупнейшего за&nbsp;400&nbsp;с чем-то лет. Арно иногда выходит из&nbsp;берегов, это вообще бывает, но&nbsp;ничего подобного&nbsp;те, кто здесь тогда жил или случайно оказался, ни&nbsp;до, ни&nbsp;после не&nbsp;видели: почти весь город под водой, в&nbsp;некоторых местах дома до&nbsp;вторых этажей затопило. Потом стали все чинить, восстанавливать, что-то отстраивали заново. И&nbsp;вот с&nbsp;тех пор папа здесь обосновался. Потом и&nbsp;я&nbsp;помогать стал. Теперь вроде как за&nbsp;главного. Но&nbsp;я-то что. Вот папа мой&nbsp;&mdash; великий человек. И&nbsp;я&nbsp;это не&nbsp;из&nbsp;сыновних чувств говорю. Хотя а&nbsp;из&nbsp;каких еще?
			p.for-desktop К&nbsp;нам сюда заходят самые разные люди, бывает, что и&nbsp;знаменитости: велосипеды-то у&nbsp;всех ломаются, ну&nbsp;или там мотороллеры. Скотт Шуман как-то раз заглянул, у&nbsp;которого журнал или блог&nbsp;&mdash; как его? &mdash;&nbsp;The Sartorialist. Что-то у&nbsp;него с&nbsp;колесом вроде случилось. Написал потом про отца, клиентов сразу прибавилось. Папа Франциск тоже здесь был. Хорошо, что не&nbsp;прямо у&nbsp;нас, а&nbsp;в&nbsp;базилике Санта Кроче. Но&nbsp;это&nbsp;же за&nbsp;углом буквально, площадь&nbsp;&mdash; вот она, так что тоже считается.

			.hero__bottom-text.for-desktop
				p Объектив #[b Canon RF&nbsp;24-105mm f/4L&nbsp;IS USM] станет заменой широкоугольного, портретного и&nbsp;длиннофокусного объектива. Стабилизатор изображения обеспечивает резкость при слабом освещении, а&nbsp;автофокусировка с&nbsp;приводом Nano USM позволит фотографам и&nbsp;видеографам реализовать дополнительные творческие возможности.
				a.hero__product-link(href="https://store.canon.ru/ob-ektiv-rf-24-105mm-f-4l-is-usm.html?utm_source=RBC&utm_medium=special_project&utm_content=RF_24-105mm_f4L_IS_USM&utm_campaign=RU_CIGmktg_CAMERA_EOS_R_SP_Dec2018-Jan2019" target="_blank") узнать больше

	+block-hero-quote('Отец открыл эту мастерскую на&nbsp;следующий год после крупнейшего наводнения за&nbsp;400 лет')

	+block-hero-img('/images/content/hero4/img.jpg')

	+block-hero-quote-mobile('Отец открыл эту мастерскую на&nbsp;следующий год после крупнейшего наводнения за&nbsp;400 лет')

	+block-hero-info-text-mobile
		p К&nbsp;нам сюда заходят самые разные люди, бывает, что и&nbsp;знаменитости: велосипеды-то у&nbsp;всех ломаются, ну&nbsp;или там мотороллеры. Скотт Шуман как-то раз заглянул, у&nbsp;которого журнал или блог&nbsp;&mdash; как его? &mdash;&nbsp;The Sartorialist. Что-то у&nbsp;него с&nbsp;колесом вроде случилось. Написал потом про отца, клиентов сразу прибавилось. Папа Франциск тоже здесь был. Хорошо, что не&nbsp;прямо у&nbsp;нас, а&nbsp;в&nbsp;базилике Санта Кроче. Но&nbsp;это&nbsp;же за&nbsp;углом буквально, площадь&nbsp;&mdash; вот она, так что тоже считается.

	include ../components/social-mobile
	include banner-mobile

	+otherHeroes()
		+otherHeroesSlide(5)
		+otherHeroesSlide(1)
		+otherHeroesSlide(2)
		+otherHeroesSlide(3)