+block-hero({
	dark: true,
	overlay: true,
	id: '2',
	bg: '/images/content/hero2/bg@2x.jpg',
	name: 'Даниэла',
	work: 'овощная лавка <br> в&nbsp;центре флоренции'
})
	+block-hero-info({
		photo: '/images/content/hero2/photo.png',
		text: 'владелица фруктово-овощной лавки',
		name: 'снимок сделан на&nbsp;canon eos&nbsp;r',
		title: 'RF&nbsp;35mm f/1.8&nbsp;IS Macro STM',
		diaphragm: 'f/2.8',
		excerpt: '1/200 сек',
		iso: '2000',
		overlay: true
	})
		+block-hero-info-text
			p Как-то раз, когда мы&nbsp;с&nbsp;моим мужем Леандро были на&nbsp;отдыхе в&nbsp;Майами, в&nbsp;одном из&nbsp;книжных нам попался красочный альбом о&nbsp;флорентийской кухне, выпущенный брендом Williams Sonoma. Понятное дело, захотелось его полистать, и&nbsp;на&nbsp;одном из&nbsp;первых&nbsp;же разворотов мы&nbsp;увидели фотографию нашего магазина. Вроде&nbsp;бы ничего удивительного: среди покупателей полно туристов, почти у&nbsp;каждого на&nbsp;шее висит камера, это самое место, где мы&nbsp;сейчас стоим, постоянно кто-нибудь снимает. Но&nbsp;все равно, конечно, это было неожиданно и&nbsp;очень приятно.
			p Мой рабочий день начинается в&nbsp;три часа утра: с&nbsp;кем-нибудь из&nbsp;помощников я&nbsp;еду на&nbsp;плодоовощную базу. Почти все, что мы&nbsp;здесь продаем, выращено в&nbsp;Тоскане или соседних регионах. Лавку открыл мой отец 65&nbsp;лет назад. Теперь мы&nbsp;с&nbsp;мужем здесь всем заправляем. Еще нам помогает сын. Сейчас, пока зима и&nbsp;покупателей поменьше, он&nbsp;ненадолго уехал в&nbsp;Испанию. Кстати, девушка за&nbsp;прилавком&nbsp;&mdash; его подружка. Не&nbsp;в&nbsp;смысле &laquo;невеста&raquo;, нет, они просто с&nbsp;детства дружат, выросли вместе. Так что&nbsp;да, у&nbsp;нас здесь все по-семейному.
			p.for-desktop Мы&nbsp;находимся в&nbsp;самом что ни&nbsp;на&nbsp;есть центре города. Раньше во&nbsp;всех этих домах жили люди. Со&nbsp;многими я&nbsp;была знакома лично. Ничего особенного, конечно, и&nbsp;тем не&nbsp;менее радостно видеть заспанные, улыбающиеся лица соседей по&nbsp;утрам. Со&nbsp;временем все стали съезжать, продавать квартиры в&nbsp;центре, перебираться в&nbsp;менее шумные, менее туристические районы, а&nbsp;то&nbsp;и&nbsp;вовсе в&nbsp;другие города. Теперь я&nbsp;почти никого здесь не&nbsp;знаю. Точнее, никто толком здесь больше не&nbsp;живет. Кругом одни гостиницы и&nbsp;апартаменты для посуточного съема.

			.hero__bottom-text.for-desktop
				p #[b Canon RF&nbsp;28-70mm f/2L&nbsp;USM&nbsp;]&mdash; это первоклассный светосильный зум-объектив L-серии с&nbsp;диафрагмой f/2. Он&nbsp;обеспечивает такое качество снимка, которое можно получить от&nbsp;объектива с&nbsp;фиксированным фокусным расстоянием. Подходит для съемки совершенно разных сюжетов&nbsp;&mdash; от&nbsp;пейзажей до&nbsp;портретов.
				a.hero__product-link(href="https://store.canon.ru/ob-ektiv-rf-28-70mm-f-2l-usm.html?utm_source=RBC&utm_medium=special_project&utm_content=RF_28-70mm_f2L_USM&utm_campaign=RU_CIGmktg_CAMERA_EOS_R_SP_Dec2018-Jan2019" target="_blank") узнать больше

	+block-hero-quote('радостно видеть заспанные, улыбающиеся лица соседей по&nbsp;утрам')

	+block-hero-img('/images/content/hero2/img@2x.jpg')

	+block-hero-quote-mobile('радостно видеть заспанные, улыбающиеся лица соседей по&nbsp;утрам')

	+block-hero-info-text-mobile
		p Мы&nbsp;находимся в&nbsp;самом что ни&nbsp;на&nbsp;есть центре города. Раньше во&nbsp;всех этих домах жили люди. Со&nbsp;многими я&nbsp;была знакома лично. Ничего особенного, конечно, и&nbsp;тем не&nbsp;менее радостно видеть заспанные, улыбающиеся лица соседей по&nbsp;утрам. Со&nbsp;временем все стали съезжать, продавать квартиры в&nbsp;центре, перебираться в&nbsp;менее шумные, менее туристические районы, а&nbsp;то&nbsp;и&nbsp;вовсе в&nbsp;другие города. Теперь я&nbsp;почти никого здесь не&nbsp;знаю. Точнее, никто толком здесь больше не&nbsp;живет. Кругом одни гостиницы и&nbsp;апартаменты для посуточного съема.

	include ../components/social-mobile
	include banner-mobile

	+otherHeroes()
		+otherHeroesSlide(3)
		+otherHeroesSlide(4)
		+otherHeroesSlide(5)
		+otherHeroesSlide(1)