*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-graphik;
	color: $color-black;

	&.is-open-nav {
		position: fixed;
		overflow: hidden;
	}
}