// stylelint-disable no-empty-source
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700&subset=cyrillic");

@font-face {
	src: url("../fonts/graphik-rbc-lc-extra-light.woff2") format("woff2"), url("../fonts/graphik-rbc-lc-extra-light.woff") format("woff");
	font-family: "Graphik RBC LC";
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url("../fonts/graphik-rbc-lc-light.woff2") format("woff2"), url("../fonts/graphik-rbc-lc-light.woff") format("woff");
	font-family: "Graphik RBC LC";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/graphik-rbc-lc-regular.woff2") format("woff2"), url("../fonts/graphik-rbc-lc-regular.woff") format("woff");
	font-family: "Graphik RBC LC";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/graphik-rbc-lc-medium.woff2") format("woff2"), url("../fonts/graphik-rbc-lc-medium.woff") format("woff");
	font-family: "Graphik RBC LC";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/graphik-rbc-lc-semibold.woff2") format("woff2"), url("../fonts/graphik-rbc-lc-semibold.woff") format("woff");
	font-family: "Graphik RBC LC";
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url("../fonts/graphik-rbc-lc-bold.woff2") format("woff2"), url("../fonts/graphik-rbc-lc-bold.woff") format("woff");
	font-family: "Graphik RBC LC";
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url("../fonts/pf-regal-display-pro.woff2") format("woff2"), url("../fonts/pf-regal-display-pro.woff") format("woff");
	font-family: "PF Regal Display Pro";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/obsidian-italic.woff2") format("woff2"), url("../fonts/obsidian-italic.woff") format("woff");
	font-family: "Obsidian Italic";
	font-weight: 400;
	font-style: normal;
}