// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-free-speech-red: #c00;
$color-gainsboro: #e5e5e5;
$color-twilight-blue: #f9f8f2;

// FONTS
$font-graphik: "Graphik RBC LC";
$font-regal: "PF Regal Display Pro";
$font-playfair: "Playfair Display", serif;
$font-obsidian: "Obsidian Italic";

$transition: 0.4s ease;